@import "tailwindcss";

body {
  color: #000;
  background-color: #fff;
}

[data-theme="dark"] body {
  background-color: #000;
  color: #fff;
}

[data-theme="light"] body {
  background-color: #fff;
  color: #000;
}